{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <div>
        <h1>All Posts</h1>
    </div>
    <div class=" border p-3 my-3">
        <h2>New Post</h2>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            <textarea name="content" row="4" cols="80"></textarea>
            <br/>
            <input type="submit" value="Post" class="btn btn-primary my-3"/>
        </form>
    </div>

    {% include "network/tweets.html" %}

    {% endif %}
{% endblock %}