{% extends "network/layout.html" %}

{% block body %}
<div>
    <h1>{{ profile.username }}</h1>
    {% if user.is_authenticated %}
        {% if user.username == profile.username %}    
        {% else %}

        <form action=" {{ profile.id }}/{{ b_name }}" method="post">
            {% csrf_token %}
            <input type="submit" value="{{ b_name }}" class="btn btn-primary my-3"/>
        </form>

        {% endif %}
    {% endif %}
</div>
<div class=" border p-3 my-3">
    <p>Followers: {{ followers }} Following: {{ following }}</p>
</div>

{% for post in page_obj %}
<div class="border p-3 m-3">
    <b>{{ post.poster.username }}</b>
    <p>{{ post.content }}</p>
    <p> ♥{{ post.likes }}</p>
    <p>{{ post.timestamp }}</p>
</div>
{% endfor %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}
    
        <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a></li>
        {% endif %}
      
    </ul>
  </nav>
{% endblock %}