<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        //event listening for scrolling
        window.onscroll = () => {

            //check if we are at the bottom
            if(window.innerHeight + window.scrollY >= document.body.offsetHeight) {

                //change color to green
                document.querySelector('body').style.background = 'green';
            } else {

                //Change color to white
                document.querySelector('body').style.background = 'white';
            }
        }
    </script>
</head>
<body>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
</body>
</html>